* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: "Geist";
  src: url("/GeistVariableVF.woff2") format('woff2');
  font-display: fallback;
}


:root {
  --bg: #000F0A;
  --text: #FFF;
  --accent: #7DFFAF;
  --tertiary: #002518;
  --easing:  cubic-bezier(0.39, 0.575, 0.565, 1);
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Geist', Arial, Helvetica, sans-serif;
  background-color: #FFF;
}

p {
  font-family: 'Geist';
  font-size: clamp(16px, 2vw + 0.1rem, 2rem);
  text-wrap:  balance;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  line-height: 100%;
}

li {
  list-style-type: none;
}

section {
  padding: 10vw 5vw;
}

.label {
  font-size:clamp(18px, 2vw + 0.1rem, 2rem);
  font-weight: 600;
  text-transform: uppercase;
}


::-webkit-scrollbar {
  width: 0px;
}